sudo: false
dist: trusty
language: java
jdk:
- openjdk8
- oraclejdk8
- openjdk11
- oraclejdk11
script:
- "./gradlew build"
deploy:
  skip_cleanup: true
  provider: script
  script: "./.travis/deploy.sh $TRAVIS_TAG"
  on:
    condition: '"${TRAVIS_JDK_VERSION}" == "openjdk8"' 
    tags: true
env:
  global:
  # BINTRAY_SNOWPLOW_MAVEN_USER
  - secure: Sk7Xf0TEXyDKtZxICiDVZkDEnDkSSe3m2+j1FWhLNEVfVDGqY9j4mo84S9qNOGjblJ6LbLa91NPhGFaNa1E0WAb9Zlf7e82nELTufGmoOn006Tw/nSEy8Vpvbjh+OZ+wweGYSghWYvjYKmUtlwpwBDyHezblVmpBa9tLg/2Ajzw=
  # BINTRAY_SNOWPLOW_MAVEN_API_KEY
  - secure: aqeXPiW/VAZNQJiE9z2S8Z/bshyVXiepczXIDlyesKe//qNaQ3X6A5Ozh8r0KCk1TCJESW5fFzBzD1kla/aDK7clW9GFQ3U29aWgXcGcLDu4plslKK+sGt/yDhMVEpD1qjLhI9mIwj6enDCvIlEtjVnrVkqaN2pjXreemE+F2UU=
  - SONA_USER=snowplow
  # SONA_PASS
  - secure: QjjbsUJXsD/jiWXW/5vKm6obp/0SASVRxFVtVLUCee4euPTd5faCXP0gdr1IbnNW7iLbYlk+FExw2N9CzWpfjr1EWz+U405znkR6YCMMWIQ0WKgzGzEgy/19vQhPI3SPy4ymiDEh7tbDmvmMdnmtX2+btRAGWcPp2oUSlbSldCk=
