
name: Build

on: [push, pull_request]
    
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # build and test against LTS releases and latest GA
        java: [ 8, 11, 13 ]

    steps:
    - uses: actions/checkout@v2
    - uses: gradle/wrapper-validation-action@v1

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle Wrapper
      run: ./gradlew build -x test

    - name: Test with Gradle Wrapper
      run: ./gradlew test

    - name: Upload report if failed
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with: 
        name: Reports-JDK_${{ matrix.java }}
        path: build/reports

    - uses: actions/upload-artifact@v1
      with:
        name: Package-JDK_${{ matrix.java }}
        path: build/libs
