
name: Snyk

on:
  push:
    branches: [ master ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/gradle@master
      with:
        command: monitor
        args: --project-name=snowplow-java-tracker
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
